body {font-family: 'Cousine', monospace; 
background-color: #ECDAD0;}

img {
    max-width: 100%;
    height: auto;
content: ;
}

.release,
.lyrics {
text-align: center;
margin: 0 auto;
}


.artist,{
font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #373A4B;
margin-top: 50px;
margin-bottom: 10px;}

.album,
.service
{font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #373A4B;
}

.text {
font-weight: 400;
   font-size: 18px;
line-height: 1.12;
color: #373A4B;
        }

.album {margin-bottom: 20px;
}
    
.cover {
    margin-top: 30px;
    margin-bottom: 10px;
}

.list-item {color: purple;
}

.list {
width: 200px;
margin: 0 auto;
}

.track-list,
.tracklist {
    width: 400px;
    margin: 0 auto;
    text-align: left;
font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #373A4B;
}

.track-list {
    margin-bottom: 30px;
}

.poems {
list-style: none;
font-weight: 400;
    font-size: 18px;
    line-height: 1.12;
    color: #373A4B;
}


.service,
.text,
.tracklist {
    text-decoration: none;
}

.tracklist:hover,
.tracklist:focus,
.text:hover,
.text:focus,
.service:hover,
.service:focus {color: purple;}
